<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!--<link rel="stylesheet" href="stylesheets/foundation.css" />-->
    <link rel="stylesheet" href="stylesheets/socialreg.css" />
    <link rel="stylesheet" href="stylesheets/col-common.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
	<script src="javascripts/jquery-1.4.2.min.js"></script>
	<script src="javascripts/knockout-3.0.0.js"></script>
	<script src="javascripts/web-library.js"></script>
	<script type="text/javascript" src="https://platform.linkedin.com/in.js">
      api_key : 750c8k09ptha6k
    </script>
	<script src="javascripts/socialdata.js"></script>


	</head>
<body>

    <div class="container">
        <!-- Header -->
        <div class="header">
            <div class="header-logo">
                <a href="/some/link"><%=title%></a>
            </div>
            <div class="header-nav">
                <ul class="nav-links">
                    <li><%=title%></li>
                    <li><a href="/account/link">Link 1</a></li>
                    <li><a href="/support/link">Link 2</a></li>
                    <li class="last-child"><a href="/logout/link">Log Out</a></li>
                </ul>
            </div>
        </div>
        <!-- End Header -->

        <div class="container-content">
            <div class="sidebar">
                <div class="sidebar-content">
                    <div class="sidebar-content-shadow">


                        <!-- Sidebar Template -->
                        <ul class="sidebar-nav">
                            <li class="current"><a href="/some/link">API Methods</a></li>
                            <li><a id="addRegistrantLink" href="#">Add Registrant</a></li>
                            <li><a id="getRegistrantByIDLink" href="#">Get Registrant By ID</a></li>
                            <li><a id="getRegistrantByEmailLink" href="#">Get Registrant By Email</a></li>
                            <li><a id="getEventByIDLink" href="#">Get Event By ID</a></li>
                        </ul>
                        <hr>
                        <ul class="sidebar-nav">
                            <li class="current"><a href='#'>Views</a></li>
                            <li><a id="createEventLink" href="#">Create New Event</a></li>
                            <li><a id="socialRegistrationLink" href="#">Social Registration Test Page</a></li>
                        </ul>
                        <hr>
                        <div class="aside">
                            <div class="aside-content">
                                <h3><small>General Information</small></h3>
                                <p>
                                    This is a test administration page for the social data service. This service provides API calls
                                    to allow you to register users and look up social data for a particular user.
                                </p>
                            </div>
                        </div>
                        <!-- End Sidebar Template -->
                    </div>
                </div>
            </div>
            <div class="main">
                <!-- Main Content Template -->
                <ul class="breadcrumb">
                    <li><a href="/some/link">breadcrumb 1</a></li>
                    <li><a href="/some/link">breadcrumb 2</a></li>
                    <li>breadcrumb 3</li>
                </ul>
                <h2><span id="workspaceTitle"/></h2>
                <p>
                    <!-- ####### Content Area ######-->
                <div  id="confirmationMsgContainer" class="message-banner confirmation-banner" style="display:none    ">
                    <div class="banner-content">
                        <h2><p  id="confirmationMsgDiv"></p></h2>
                    </div>
                </div>
                <div  id="errorMsgContainer" class="message-banner error-banner" style="display:none    ">
                    <div class="banner-content">
                        <h2><p  id="errorMsgDiv"></p></h2>
                    </div>
                </div>

                    <!-- Social Registration Div -->
                    <div id="socialRegistrationDiv"></div>

                    <!-- Create Event -->
                    <div id="createEventDiv"></div>

                    <!-- Get Event -->
                    <div id="eventSettingsDiv"></div>

                    <!-- Add Registrant -->
                    <div id="addRegistrantDiv"></div>

                    <!-- Get Registrant By Email -->
                    <div id="getRegistrantByEmailDiv"></div>

                    <!-- Get Registrant By ID -->
                    <div id="getRegistrantByIDDiv"></div>



                </p>
                <!-- End Main Content Template -->
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-nav">
                    <!-- Footer Template -->
                    <ul class="nav-links">
                        <li><a href="/some/link">Link 1</a></li>
                        <li><a href="/some/link">Link 2</a></li>
                        <li class="last-child">Language:</li>
                    </ul>
                    <ul class="language-links">
                        <li>English</li>
                        <li><a href="/some/link">Language 2</a></li>
                        <li><a href="/some/link">Language 3</a></li>
                    </ul>
                </div>
                <!-- End Footer Template -->
                <div class="footer-logo">
                    <a href="http://www.citrixonline.com" target="_blank">Citrix
                        Online</a>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright Text</div>

    </div>

  
  

  <script type="text/javascript">
  	function hideAll(){
  		$('#addRegistrantDiv').hide();
  		$('#addRegistrantSuccessMsg').hide();
  		$('#addRegistrantErrMsg').hide();
  		$('#errorMsgContainer').hide();
        $('#getRegistrantByIDDiv').hide();
  		$('#getRegistrantByIDErrMsg').hide();
  		$('#socialRegistrationDiv').hide();
  		$('#socialRegistrationErrMsg').hide();
        $('#createEventDiv').hide();
        $('#getRegistrantByEmailDiv').hide();
        $('#workspaceTitle').text("");
        $('#eventSettingsDiv').hide();

  	}
  	$(document).ready(function(){
  		hideAll();
  	});

  	$('#getEventByIDLink').click(function(){
  	    hideAll();
  	    loadEventSettingsForm();
  	});
  	
  	$('#socialRegistrationLink').click(function(){
  		hideAll();
  		loadSocialRegistrationView();
  	});
  	
  	$('#addRegistrantLink').click(function(){
  		hideAll();
  		loadAddRegistrantView();
  	});
  	
  	$('#getRegistrantByEmailLink').click(function(){
  		hideAll();
  		loadGetRegistrantByEmailView();
  	});
  	
  	$('#getRegistrantByIDLink').click(function(){
  		hideAll();
  		loadGetRegistrantByIDView();
  	})

    $('#createEventLink').click(function(){
        hideAll();
        loadCreateEventView();
    })


  </script>

  <div id="status">
  </div>

    </div> <!-- end container -->
</body>
</html>