<!--
       Social Registration View
 -->
<div id="socialRegistrationErrMsg" class="alert-box alert radius" data-alert=""></div>
<div class="large-12 columns">
    <h3>Example Attendee - Register For an event with Social Network Login</h3>
    <form>

        <div class="form-row">
            <div class="form-row-column column-11">
                <h6>(Optional) Event</h6>
            </div>
        </div>

        <div class="form-row">
            <div class="form-row-column column-11">
                <label for="eventId">Event ID</label>
                <input id="eventId" type="text" data-bind="value: eventId" placeholder="Event ID">
            </div>
        </div>

        <div class="form-row">
            <div class="form-row-column column-5">
                <a href="#" data-bind="click: registerWithLinkedIn" class="ssbtn linkedin pull-left">
                    Sign up with LinkedIn
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-column column-5">
                <a href="#" data-bind="click: registerWithFacebook" class="ssbtn facebook pull-left">Sign up with Facebook</a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-column column-5">
                <a href="#" class="ssbtn google pull-left">Sign up with Google Plus</a>
            </div>
        </div>
    </form>
</div>
<div id="socialRegistrationResults"></div>

 <script type="text/javascript">


var RegisterWithLinkedInModel = function(){
	var self = this;
	self.eventId = ko.observable("");
	self.eventTitle = ko.observable("");
	self.eventStartTime = ko.observable("");
	self.eventEndTime = ko.observable("");

  	self.registerWithLinkedIn = function(){


		IN.UI.Authorize().params({"scope":["r_basicprofile", "r_emailaddress"]}).place();

  		IN.Event.on(IN, 'auth', function () {
  		console.log("auth");

  		IN.API.Profile("me")
  		.fields("id,firstName,lastName,emailAddress,summary,industry,positions,picture-url")
  		.result(function (me) {
        console.log("--" + JSON.stringify(me));

  		var profile = me.values[0];
  		var firstName = profile.firstName;
  		var lastName = profile.lastName;
  		var email = profile.emailAddress;
  		var pictureUrl = profile.pictureUrl;
        console.log("redirecting to /registrant/linkedin");

	  	$.ajax({
			url : '/registrant/linkedin',
			data: { eventId : self.eventId(),
				eventTitle : self.eventTitle(),
				eventStartTime : self.eventStartTime(),
				eventEndTime : self.eventEndTime(),
				firstName : firstName,
				lastName : lastName,
				email : email,
				pictureUrl : pictureUrl,
				profile: profile},
		    type: 'POST',
		    success: function(data){
		        	if(data && data.lastIndexOf("Error:", 0) === 0){
		        		var errMsg = data.substring(6);
		        		$('#confirmationMsgDiv').text(errMsg);
                        $('#confirmationMsgContainer').show().fadeOut(3600,function(){ $(this).remove(); });
		        	}else{
		        		$('#socialRegistrationResults').text(data).show().fadeOut(3600,function(){
		        			$(this).remove();
		        			$('#socialRegistrationDiv').fadeOut(2000, function(){
		        				$('#infoDiv').show();
		        			});
		        			});
		        	}
		        }
			});

  		});
  		});

	}

	self.registerWithFacebook = function(){

        var eventInfo = new Object();
        eventInfo.eventId = self.eventId();

        FB.init({
            appId      : '747022911975099',
            cookie     : true,  // enable cookies to allow the server to access
            // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.1' // use version 2.1
        });

       FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    fbRegister(eventInfo);
            } else {

                FB.login(function(response){
                     fbRegister(eventInfo);
                });
            }
        });
    }
};


function checkLoginState() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
}


// Load the SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));




function fbRegister(eventInfo) {
    var fields='first_name,last_name, about, age_range, bio, birthday, ' +
            'education, email, link, locale, location, political, timezone, work';
    var results = [];

    FB.api('/me', { fields: fields}, function(response) {
        console.log('Successful login for: ' + response.name);
        getFbProfilePic(response, eventInfo);
    });

}

function getFbProfilePic(fbProfile, eventInfo){
    FB.api('/me/picture', function(response) {

            $.ajax({
            			url : '/registrant/facebook',
            			data: { eventInfo : eventInfo,
            				fbProfile : fbProfile,
            				fbPicture : response},
            		    type: 'POST',
            		    success: function(data){
            		        	if(data && data.lastIndexOf("Error:", 0) === 0){
            		        		var errMsg = data.substring(6);
            		        		$('#socialRegistrationErrMsg').text(errMsg).show().fadeOut(3600,function(){ $(this).remove(); });
            		        	}else{
            		        		$('#socialRegistrationResults').text(data).show()/*.fadeOut(3600,function(){
            		        			$(this).remove();
            		        			$('#socialRegistrationDiv').fadeOut(2000, function(){
            		        				$('#infoDiv').show();
            		        			});
            		        			})*/;
            		        	}
            		        },
            		    error: function(data){
            		        var errMsg = "Unexpected Error Occurred.";
            		        $('#socialRegistrationErrMsg').text(errMsg).show().fadeOut(4600,function(){ $(this).remove(); });
            		    }
            			});


        });
}

$(document).ready(function(){
	ko.applyBindings(new RegisterWithLinkedInModel(), socialRegistrationDiv);

});
 </script>