<link rel="stylesheet" href="stylesheets/foundation.css" />

<div class="row" id="snapshotsDiv">
	<div id="connWorkspaceErrMsg" class="alert-box alert radius" data-alert=""></div>
	<div id="connWorkspaceSuccessMsg" class="alert-box success radius" data-alert=""></div>
	<div id="connWorkspaceInfoMsg" class="alert-box radius" data-alert=""></div>

    <div class="section.left-small column-2">
        <span style="float:left;clear:both;"><h4>Service: <%= service.title %></h4></span>
        <hr/>
    </div>

    <div class="row">
        <div class="small-2 columns">2 columns</div>
        <div class="small-10 columns">10 columns</div>
    </div>

	<% 
		if( typeof service != "undefined"){
			
	%>
		<%= JSON.stringify(service) %>
		
	<%
		}
	%>
	
	<script>
	
	$(document).ready(function(){
		$('#connWorkspaceSuccessMsg').hide();
		$('#connWorkspaceErrMsg').hide();
		$('#connWorkspaceInfoMsg').hide();
		
	});

	
	</script>
</div>