<section ng-controller="HeapSortController" style="word-wrap: break-spacing">
	<div class="left-section" style="float:left;clear:right;display:block">
			<h3>{{title}}</h3>
			<p>
				<small>Heap Sort does its magic by first creating a max heap, then iterating through <br/>
				the tree and replacing the root node (largest element) with the leafs (smallest elements).<br/>
				<mark><i>&Theta;(n log n)</i></mark>. 
				</small>
			<p>
			<p>
				<ul class="queue">
				<li ng-repeat="item in array">
					{{ item }}
				</li>
			</ul>
			</p>
			<p>
				<button ng-click="sort()">Sort</button>
				<button ng-click="reset()">Reset</button>
			</p>
			<hr/>
			<p>
				<code style="background-color: #ccffdd; color: #000033;">
		
					function heapSort(a){
					&nbsp;&nbsp;buildHeap(a);<br/>
							<br/>
							&nbsp;&nbsp;// loop through heap and swap root with leaf nodes<br/>
							&nbsp;&nbsp;for(var i=(a.length-1); i > 2; i--){<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;	var tmp = a[1];<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;	a[1] = a[i];<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;	a[i] = tmp;<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;	a.heapSize--;<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;	maxHeapify(a,1);<br/>
							&nbsp;&nbsp;}<br/>
						}<br/>
					<br/>
					function buildHeap(a){<br/>
					<br/>
					&nbsp;&nbsp;a.heapSize = a.length-1;<br/>
					&nbsp;&nbsp;var mid = Math.floor((a.heapSize)/2);<br/>
					<br/>
					&nbsp;&nbsp;// start at the middle of the array and <br/>
					&nbsp;&nbsp;// build maxHeap at each level<br/>
					&nbsp;&nbsp;for(var i=mid; i > 0; i--){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;maxHeapify(a, i);<br/>
					&nbsp;&nbsp;}<br/>
					}<br/>
					<br/>
				function maxHeapify(a, i){<br/>
					<br/>
					&nbsp;&nbsp;var l = left(i);<br/>
					&nbsp;&nbsp;var r = right(i);<br/>
					&nbsp;&nbsp;var largest = 0;<br/>
					<br/>
					&nbsp;&nbsp;// check to see if left child has larger value<br/>
					&nbsp;&nbsp;if(l < a.heapSize && a[l] > a[i])<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;largest = l;<br/>
					&nbsp;&nbsp;else<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;largest = i;<br/>
					<br/>
					&nbsp;&nbsp;// check to see if right child has larger value<br/>
					&nbsp;&nbsp;if(r < a.heapSize && a[r] > a[largest])<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;	largest = r;<br/>
					<br/>
					&nbsp;&nbsp;if(largest != i){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;	// swap child value with parent value<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;	var tmp = a[i];<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;	a[i] = a[largest];<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;	a[largest] = tmp;<br/>
						<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;	// rebuild max heap<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;	maxHeapify(a, largest);<br/>
					&nbsp;&nbsp;}<br/>
				}<br/>
				<br/>
				function left(i){<br/>
				&nbsp;&nbsp;	return i<<1;<br/>
				}<br/>
				<br/>
				function right(i){<br/>
				&nbsp;&nbsp;	return (i<<1) + 1;<br/>
				}<br/>
				
				
				</code>
			</p>
	</div>
</section>