<section ng-controller="InsertionSortController">

	<!-- INSERTION SORT Example -->
	<div class="form-group">

			<h3>{{title}}</h3>
			<p>
				<small>Insertion Sort is great for small sized arrays. O(n<sup>2</sup>). 
				The algorithm is same that you would use to sort a hand of cards</small>
			<p>
			<p>
				<ul class="queue">
				<li ng-repeat="item in array">
					{{ item }}
				</li>
			</ul>
			</p>
			<p>
				<button ng-click="sort()">Sort</button>
				<button ng-click="reset()">Reset</button>
			</p>
		
		<!--
			<p>
				<h3>Code</h3>
				<code style="width:40%; display:block;float:right;clear:both">
					function insertionSort(arr){
				
						// start at second index and iteratively sort array
						for(var j=1; j < arr.length; j++){
							var current = arr[j];
							var i = j-1;
							
							// insert a[j] into sorted array [0 ... j-1]
							while(i >= 0 && arr[i] > current){
								arr[i+1] = 	arr[i];
								i--;
							}
							arr[i+1] = current;
						}
					}
				</code>
			</p>

		-->
	</div>
	
</section>