<section ng-controller="MaxSubArrayController">

	<div class="form-group">
		<h3>{{title}}</h3>
		<p>Problem: Given an array of integers, find
			the longest sub array with largest total sum.
			<mark>&Theta;(n<sup>2</sup>)</mark>. 
		</p>
		<p>
			<ul class="queue">
			<li ng-repeat="item in array  track by $index">
				{{ item }}
			</li>
		</ul>
		</p>
		<p>
			<button ng-click="find()">Find</button>
		</p>
		<p ng-show="results != ''" ng-hide="results === ''" class="text-primary">
			{{results}}
		</p>
		<hr/>
		<div class="left-section" style="clear:right;width:60%">
			<p>
				<h3>Code</h3>
				<code style="background-color: #ccffdd; color: #000033;">
					// class holding sum info for a given sub array<br/>
					var SubArrayInfo = function(maxLeft, maxRight, sum){<br/>
					&nbsp;&nbsp;this.maxLeft = maxLeft;<br/>
					&nbsp;&nbsp;this.maxRight = maxRight;<br/>
					&nbsp;&nbsp;this.sum = sum;<br/>
					&nbsp;&nbsp;this.toString = function(){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;return "MaxLeft: " + this.maxLeft + "\tMaxRight: " + this.maxRight + "\tSum: " + this.sum;<br/>
					&nbsp;&nbsp;}<br/>
					};<br/>
					<br/>
					// find max sum for sub array encompassing both left and right branches<br/>
					function findMaxCrossingSubArray(a, low, mid, high){<br/>
					<br/>
					&nbsp;&nbsp;var leftSum = -1000000;<br/>
					&nbsp;&nbsp;var maxLeft = 0;<br/>
					<br/>
					&nbsp;&nbsp;// find max for left half of array<br/>
					&nbsp;&nbsp;for(var i = mid; i > low; i--){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;if(a[i] > leftSum){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;leftSum = a[i];<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;maxLeft = i;<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
					&nbsp;&nbsp;}<br/>
					<br/>
					&nbsp;&nbsp;// find max for right half of array <br/>
					&nbsp;&nbsp;var rightSum = -1000000;<br/>
					&nbsp;&nbsp;var maxRight = 0; <br/>
					<br/>
					&nbsp;&nbsp;for(var i= mid+1; i < high; i++){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;if(a[i] > rightSum){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rightSum = a[i];<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;maxRight = i;<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
			&nbsp;&nbsp;}</br>
		
			&nbsp;&nbsp;// consolidate into a new SubArrayInfo object and return <br/>
			&nbsp;&nbsp;return new SubArrayInfo(maxLeft, maxRight, (leftSum + rightSum));<br/>
			};<br/>
			<br/>
	function findMaxSubArray(a, low, high){<br/>
		<br/>
		&nbsp;&nbsp;if(low == high){<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;return new SubArrayInfo(a, low, a[low]);<br/>
		&nbsp;&nbsp;}else{<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;var mid = Math.floor((low + high)/2);<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;var sumLeftBranch = findMaxSubArray(a, low, mid);<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;var sumRightBranch = findMaxSubArray(a, mid+1, high);<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;var sumCrossBranches = findMaxCrossingSubArray(a, low, mid, high);<br/>
			<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;// check which branch has greatest sum<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;if(sumLeftBranch.sum > sumRightBranch.sum && sumLeftBranch.sum > sumCrossBranches.sum){<br/>
			&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;return sumLeftBranch;<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;}else if( sumRightBranch.sum > sumLeftBranch.sum && sumRightBranch.sum > sumCrossBranches.sum){<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return sumRightBranch;<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;}else{<br/>
			&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;return sumCrossBranches;<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
			&nbsp;&nbsp;}<br/>
	};<br/>
					
				</code>
			</p>
		</div>
	</div>
</section>