<section ng-controller="MergeSortController" style="word-wrap: break-spacing">
	<div class="left-section" style="float:left;clear:right;display:block">
			<h3>{{title}}</h3>
			<p>
				<small>Merge Sort is a divide and conquer algorithm. <mark>O(n.log n)</mark>. 
				<br/>lorem ipsum lorem ipsum</small>
			<p>
			<p>
				<ul class="queue">
				<li ng-repeat="item in array">
					{{ item }}
				</li>
			</ul>
			</p>
			<p>
				<button ng-click="sort()">Sort</button>
				<button ng-click="reset()">Reset</button>
			</p>


	</div>
	<div class="left-section" style="float:left;clear:both;;display:block">
		<h4>code</h4>
		<code>
			
	function mergeSort(a, p, r){ <br/>
		<br/>
		&nbsp;&nbsp;if(p < r){<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;	var q = Math.floor((p+r)/2);		<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;	mergeSort(a, p, q); 		// sort left half of a[]<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;	mergeSort(a, q+1, r); 	// sort right half of a[]<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;	merge(a, p, q, r);		// merge both halfs together	<br/>
	&nbsp;&nbsp;	}<br/>
	}<br/>
	<br/>
	<br/>
	function merge(a, p, q, r){<br/>
		<br/>
		&nbsp;&nbsp;var i=p; 					// i is index for left temp array<br/>
		&nbsp;&nbsp;var j=q+1;					// j is index for right temp array<br/>
		&nbsp;&nbsp;var k=p;					// k is index for temp array<br/>
		&nbsp;&nbsp;var b = new Array(r);				// temporary array used for merging<br/>
		<br/>
		&nbsp;&nbsp;// sort both left and right sides of array <br/>
		&nbsp;&nbsp;while(i <= q && j <= r){<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;if(a[i] <= a[j]){<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;b[k++] = a[i++];<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;}else{<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;		b[k++] = a[j++];<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;		}<br/>
		&nbsp;&nbsp;}<br/>
		
	&nbsp;&nbsp;	// It is possible to have a remaining index which hasn't been sorted<br/>
	&nbsp;&nbsp;	// , so we need to copy the rest into b[]<br/>
		&nbsp;&nbsp;while(i <= q){<br/>
	&nbsp;&nbsp;		b[k] = a[i];<br/>
	&nbsp;&nbsp;		k++;<br/>
			&nbsp;&nbsp;i++;<br/>
		&nbsp;&nbsp;}<br/>
		
	&nbsp;&nbsp;	while(j <= r){<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;		b[k++] = a[j++];<br/>
	&nbsp;&nbsp;	}<br/>
		// copy sort array b[] back into a[]<br/>
	&nbsp;&nbsp;	k=p;<br/>
	&nbsp;&nbsp;	while(k <= r){<br/>
			<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;		a[k] = b[k];<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;		k++;<br/>
	&nbsp;&nbsp;	}<br/>
	}<br/>
<br/>
		</code>
	</div>

</section>