<section ng-controller="QueueController">
	<!-- QUEUE Example -->

	<div class="form-group">
		<h3>{{title}}</h3>
		<p>
			<small>Standard Queues have an ordering <mark>FIFO</mark> or <mark>LIFO</mark>.
			Priority queues always remove the smallest value.</small><br/>
		<p>
		<p>
			<ul class="queue">
			<li ng-repeat="item in queue">
				{{ item }}
			</li>
		</ul>
		</p>
		<p>
			<label>
				<input type="radio" ng-model="queueType" value="standard">
				Standard Queue
			</label>
			<label>
				<input type="radio" ng-model="queueType" value="priority">
				Priority Queue
			</label>
		</p>
		<p ng-show="isStandard()" ng-hide="!isStandard()">
			<label>
				<input type="radio" ng-model="orderType" value="FIFO">
				FIFO
			</label>
			<label>
				<input type="radio" ng-model="orderType" value="LIFO">
				LIFO
			</label>
		</p>
		<p>
			New Item:<input type="text" ng-model="newItem" ng-model-options="{ updateOn: 'blur' }" />
		</p>
		<button ng-click="enqueue()">Enqueue</button>
		<button ng-click="dequeue()">Dequeue</button>
	</div>
</section>
