<section ng-controller="SelectionSortController">

	<div class="form-group">
		<h3>{{title}}</h3>
		<p>With selection sort, you start at the beginning <br/>
			of the array and swap out the lowest value</br>
			for each element in array. <mark>&Theta;(n<sup>2</sup>)</mark>. 
		</p>
		<p>
			<ul class="queue">
			<li ng-repeat="item in array">
				{{ item }}
			</li>
		</ul>
		</p>
		<p>
			<button ng-click="sort()">Sort</button>
			<button ng-click="reset()">Reset</button>
		</p>
		<hr/>
		<p>
			<h4>Code</h4>
			<code style="background-color: #ccffdd; color: #000033;">
				function selectionSort(){
					<br/>
					&nbsp;&nbsp;// start with first index array then find the index of <br/>
					&nbsp;&nbsp;// the smallest value and swap<br/>
					&nbsp;&nbsp;for(var i=0; i < $scope.array.length; i++){<br/>
					<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;var temp;<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;var minIndex = i;<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;for(var j=i+1; j < $scope.array.length; j++){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if($scope.array[j] < $scope.array[minIndex]){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;minIndex = j;<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
					&nbsp;&nbsp;}<br/>
					<br/>
					&nbsp;&nbsp;// swap values<br/>
					<br/>
					&nbsp;&nbsp;temp = $scope.array[i];<br/>
					&nbsp;&nbsp;$scope.array[i] = $scope.array[minIndex];<br/>
					&nbsp;&nbsp;$scope.array[minIndex] = temp;<br/>
				&nbsp;&nbsp;} <br/>
				<br/>
				}
			</code>
			
		</p>
	</div>


</section>